*{
  margin: 0;
  padding: 0;
  letter-spacing: .5px;
}

.absolute {
  position: absolute;
}

.carousel-inner {
  padding: 5px 0;
  padding-bottom: 2vh;
  width: 100%;
  height: 28vw;
}

@media (max-width: 550px) {
  .carousel-inner {
    height: 190px;
  }
}

.pointer:hover {
  cursor: pointer;
}

.btn-left, .btn-right:hover {
  cursor: pointer;
}

.center {
  display: inline-block;
  justify-content: center;
  width: 75%;
}

.item{
  text-align: center;
}

.text-container {
  margin: 2vh auto;
}

.text-resize {
  font-size: 1.5vw;
  width: 100%;
}

.text-info {
  margin: 0;
  color: #387780 !important;
}

h5 {
  text-transform: uppercase;
  font-size: 1.5vw;
  margin: .2vh;
}

.txt-header {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  border-bottom: solid 1px rgba(0,0,0,.05);
  padding: 2vh;
}

.carousel-center{
  width: 80%;

  margin: 0 auto;
  margin-top: 50px;
}

.carousel-position {
  width: 100%;

}

.carousel {
  background-color: #dbd4D3;
}

.lower-btn1 {
  width: 25px;
  border: solid rgba(255,255,255,.05);
}

.lower-btn2 {
  width: 25px;
  border: none;
  margin: 0 10px;
}

.lower-btn3 {
  width: 25px;
  border: none;
}

.img-center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index: 1;
}

.item1-position {
  margin-top: 20px;
}

.item-margin {
  margin-top: 20px;
  margin-bottom: 1vw;
}

.img-position {
  margin-top: 25px;
  margin-left: 32vw;
  width: 15vw;
}

.img3-position {
  margin: 0;
  margin-left: 29vw;
  margin-top: 25px;
}

.img4-position {
  margin-left: 24.5vw;
}

.scott-text {
  position: relative;
  top: 20px;
  margin-bottom: 6vh;
}

.carousel-last-item {
  margin-top: 100px;
  margin-bottom: 50px;
}

.last-item-position {
  width: 100px;
}

.img-margin {
  margin-top: 10vw;
}

.last-img-position {
  margin-left: 24.5vw;
}

.last-text-container {
  margin-bottom: 2vh;
}

.btn-left {
  border: none;
  background-color: #387780;
}

.btn-right {
  border: none;
  background-color: #387780;
}

.btn-slide {
  border: solid;
}

.btn {
  display: inline;
  margin: 0 80px;
}

.img-resize {
  width: 20vw;
}

.txt-color {
  color: #387780 !important;
}

.swal-modal {
  background-color: #dbd4D3;
}

.swal-title{
  color: #fe654f !important; 
  font-weight: bold; 
  font-family: "Space Mono"; 
  text-align: center;
}
.swal-text {
  color: #387780;
  font-weight: bold; 
  font-family: "Space Mono"; 
  text-align: center;
}

.swal-button {
  background-color: #387780;
}

.swal-button:hover{
  background-color: #5abbca !important;
}

.carousel-indicators .active{
  background-color: #387780;
}

.btn-margin {
  margin-bottom: 50px;
  margin-top: 20px;
}